<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidtraining2019">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ImageSliderActivity"></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.androidtraining2019.MainActivity" />
        </activity>
        <activity
            android:name=".JobServiceActivity"
            android:label="@string/title_activity_job_service"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".Brodcast.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".AlarmActivity" />
        <activity android:name=".StartNotificationActivity" />

        <receiver
            android:name=".Brodcast.DownloadFileFinishedReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".StartIntentServiceActivity" />

        <service
            android:name=".Services.DownloadService"
            android:exported="false" />
        <service
            android:name=".Services.NotificationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".BroadcastActivity" />
        <activity android:name=".LoadImageActivity" />

        <receiver
            android:name=".ChargingBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MasterdetailsemployeeListActivity"
            android:label="@string/title_masterdetailsemployee_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.androidtraining2019.MainActivity" />
        </activity>
        <activity
            android:name=".MasterdetailsemployeeDetailActivity"
            android:label="@string/title_masterdetailsemployee_detail"
            android:parentActivityName=".MasterdetailsemployeeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.androidtraining2019.MasterdetailsemployeeListActivity" />
        </activity>
        <activity android:name=".DrawableResources" />
        <activity
            android:name=".MainNavDrawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TabbedLayout_5" />
        <activity
            android:name=".TabbedActivityActionBar"
            android:label="@string/title_activity_tabbed_action_bar"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.androidtraining2019.MainActivity" />
        </activity>
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.androidtraining2019.MainActivity" />
        </activity>
        <activity android:name=".NavDrawerFromScratchActivity" />
        <activity
            android:name=".SuperActivity"
            android:label="@string/title_activity_super"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.androidtraining2019.MainActivity" />
        </activity>
        <activity android:name=".DateTimeActivity" />
        <activity
            android:name=".UserInfoEditor"
            android:label="@string/title_activity_user_info_editor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UserInfo"
            android:label="@string/title_activity_user_info"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NavDrawer"
            android:label="@string/title_activity_user_info_editor"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ScrollView"
            android:label="@string/title_activity_scroll_view"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.androidtraining2019.MainNavDrawer" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".CustomReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>